# Ignore all CSV files
*.csv

# Ignore all content inside the csv folder
csv/

# Ignore all HTML files
*.html

# Ignore all content inside the html folder
html/

# Ignore all IntelliJ IDEA module files
*.iml
*.xml
*.idea 
*.pyc

yolo3/
yolo4/
yolo8/
yolo11/

*.mp4
*.txt
*.pt
.~lock.*

.gitignore
.env
